# Directorios y archivos específicos de Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Archivos específicos de NetBeans
nbproject/private/
nb-configuration.xml

